@import "../../../shared/style/global";

.wrapper {
  background: $dark-200;
  box-shadow: 0px 10px 1px 3px rgba(0, 0, 0, 0.1);
  padding: pxToRem(16) 0;
  width: pxToRem(80);
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  svg {
    margin: pxToRem(16) 0;
  }
}