$screen-sm-min: 600px;
$screen-md-min: 960px;
$screen-lg-min: 1280px;
$screen-xl-min: 1920px;

@mixin small-device {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin medium-device {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin large-device {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin extra-large-device {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin custom-device($screen) {
  @media (max-width: $screen+'px') {
    @content;
  }
}
